@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F7EDDB;
    --foreground: #1F2937;
    --font-heading: 'Ropa Sans', sans-serif;
    --font-body: 'Lato', sans-serif;
    --font-flourish: 'Literata', serif;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #1F2937;
      --foreground: #F7EDDB;
    }
  }
}

@layer base {
  body {
    @apply bg-background-primary text-text-primary;
    font-family: var(--font-body);
  }
}
